<ion-content>
  <div class="sliderLogo"><img src="/assets/slider/logo.png" /></div>
  <ion-slides pager="true">
    <ion-slide>
      <img class="sliderImg" src="/assets/slider/slide1.jpg" />
    </ion-slide>
    <ion-slide>
      <img class="sliderImg" src="/assets/slider/slide2.jpeg" />
    </ion-slide>
    <ion-slide>
      <img class="sliderImg" src="/assets/slider/slide3.jpg" />
    </ion-slide>
  </ion-slides>
  <div class="sliderButton"><img routerLink="/inicio" src="/assets/slider/button.png"></div>
</ion-content>
