.header {
    text-align: center;
}

.sprite {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #0060AB;
    margin-bottom: 80px;
    text-align: center;

    p {
        color: #F7C503;
    }
}