<app-header titulo="HAZTE CON TODOS!"></app-header>

<ion-content>
  <div class="texto">
    <h2>Has capturado un pokemon nuevo?</h2>
    <p>Introduce sus datos en la pokedex</p>
  </div>
  <div class="formulario">
    <form>
      <div class="inputs">
      Introduce el nombre del pokemon:<br><input type="text"><br>
      Introduce su número:<br><input type="text"><br>
      Introduce su tipo principal:<br><input type="text"><br>
      Introduce su tipo secundario:<br><input type="text">
      </div>
    </form>
  </div>
</ion-content>
